.btn-black {
    font-weight: 400;
    color: var(--white) !important;
    background-color: var(--black);
    border-color: var(--black);
}
.btn-show {
    border: 0.8px solid var(--black);
    color: var(--black);
    padding: 4px 10px !important;
    border-radius: 4px;
    font-size: 14px !important;
    font-weight: 400;
}
