@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
    --backgroud: rgba(245, 245, 245);
    --white: rgb(255, 255, 255);
    --black: rgb(51, 63, 72);
    --orange: rgb(245, 112, 104);
    --border: rgb(230, 230, 230);
    --danger: rgb(230, 41, 100);
    --dark: rgb(40, 50, 82);
    --info: rgb(3, 152, 226);
    --link: rgb(72, 95, 199);
    --primary: rgb(65, 185, 131);
    --success: rgb(6, 214, 158);
    --warning: rgb(250, 173, 66);
    --white: rgb(255, 255, 255);
    --nonaktif: rgb(179, 179, 179);
    --secondary: rgb(234, 237, 239);
    --transaparant: rgb(249, 249, 249);
    --purple: rgb(148, 84, 212);
    --abu: rgb(234, 237, 239);
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-color: var(--black);
}
.h6 {
    font-weight: 400;
}
.p {
    font-size: 15px !important;
}
.text-orange {
    color: var(--orange);
}
.is-rounded {
    border-radius: 12px;
}
body {
    color: var(--black);
    background: var(--backgroud);
}
.header {
    display: flex;
    justify-content: space-between;
    background: var(--abu);
}
.header .item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .reservasi {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}
.header .reservasi a {
    text-decoration: none;
    color: var(--black);
    font-weight: 400;
}
.navbar-light .navbar-toggler {
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0;
    padding: 13px 18px;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link:hover {
    background: var(--abu);
    border-radius: 5px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-toggle {
    display: flex;
    align-items: center;
    text-align: center;
}
.photo-nav {
    align-items: center;
    display: flex;
}
.dropdown-toggle::after {
    font-family: "FontAwesome" !important;
    content: "\f107" !important;
    border: none !important;
    font-size: 20px !important;
    margin-left: 5px !important;
}
.footer {
    padding-top: 20px;
    background: var(--black);
    color: var(--white);
}
footer ul {
    text-transform: capitalize;
}
footer ul {
    list-style-type: none;
    padding: 0;
}

footer a {
    color: var(--nonaktif);
    text-decoration: none;
}

footer a:hover,
footer a:active {
    color: white;
}
.footer .item .col-md-3 h5 {
    font-weight: 700;
    font-size: 16px !important;
}
footer .social {
    display: flex;
    align-items: center;
    gap: 15px !important;
}
.footer .partner {
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 50px;
}
.footer h6 {
    font-weight: 400;
    font-size: 14px !important;
}
section {
    padding: 20px 0px !important;
}
/* hero */
.hero {
    padding-top: 0px !important;
    position: relative;
    height: auto;
    max-width: 100%;
    max-height: 80vh;
    overflow: hidden;
}
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-left,
.nav-right {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 30px;
    color: var(--abu);
    text-align: center;
    cursor: pointer;
    align-items: center;
    color: var(--black);
}

.nav-left {
    left: 1%;
}

.nav-right {
    right: 1%;
}

.nav-right::before {
    content: "\f054";
    font-family: "FontAwesome" !important;
    font-weight: 400;
    color: var(--abu);
}

.nav-left::before {
    content: "\f053";
    font-family: "FontAwesome" !important;
    font-weight: 400;
    color: var(--abu);
}
/* blog post */
.image-gallery {
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    max-height: 250px;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.image-gallery img:hover {
    transform: scale(1.1);
}
.img-gallery iframe {
    width: 100%;
    height: 100%;
}
/* contact */
.contact {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.contact .image {
    position: relative;
}

.contact .image img {
    max-width: 100%;
    height: auto;
    width: 100%;
    height: 500px !important;
    object-fit: cover;
    object-position: center;
}

.contact .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.contact .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--white);
}

.contact h3,
.contact .button {
    margin-bottom: 20px;
    color: var(--white);
}

.contact .button {
    display: inline-block;
    color: var(--white);
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid var(--white);
    background-color: transparent;
    border-radius: 5px;
}

/* memories */
.memories h3 {
    font-weight: 500 !important;
    font-size: 15px !important;
}
.memories .image-gallery {
    margin-bottom: 20px;
    cursor: pointer;
}

.memories .image-gallery img {
    width: 100%;
    height: auto;
    max-height: 250px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.memories .image-gallery img:hover {
    transform: scale(1);
}
/* review */
.review .image {
    position: relative;
}
.review .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.review .items {
    position: relative;
}

.review .items img {
    width: 100%;
    height: 557px;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
    z-index: 1;
}

.review .items .overlay {
    border-radius: 12px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.review .items .card {
    padding: 20px;
    width: 60%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.review .items .item {
    position: relative;
}

.review .items .user-profile {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.review .items .user-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review .items .stars {
    color: #ffd700;
}

.review .items .name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.review .items .text {
    font-size: 12px;
    line-height: 1.2;
    color: #666;
}

.review .image img {
    max-width: 100%;
    height: auto;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.review .image .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--black);
    text-align: right;
    font-weight: 600;
    z-index: 4;
}

.owl-carousel-2 {
    z-index: 99 !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 100% !important;
}

.owl-carousel-2 .owl-item {
    width: 100%;
    margin-right: 0;
}

.owl-carousel-2 .item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* blog */
.blog-hero {
    padding-top: 0px !important;
}
.blog-hero .hero {
    padding-top: 0px !important;
    position: relative;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    background: rgb(32, 29, 30);
}
.blog-hero .hero .row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-hero .hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}
.blog-hero .hero p {
    font-size: 18px !important;
}
.blog-hero .hero .content {
    color: var(--white);
}
.category {
    display: flex;
    text-align: center;
    overflow: hidden;
    max-height: 250px;
}

.category img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-category h4 {
    font-weight: 400;
    font-size: 16px !important;
}

.img-gallery {
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid var(--border);
    max-height: 220px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-gallery img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.blog button {
    border: 0.8px solid var(--black);
    color: var(--black);
    padding: 4px 10px !important;
    border-radius: 4px;
    font-size: 14px !important;
    font-weight: 400;
}
.blog button:hover {
    background: var(--abu);
}
/* studio */

.studio-hero {
    margin-top: 0px !important;
    padding-top: 0px !important;
}
.studio-hero .hero {
    padding-top: 0px !important;
    position: relative;
    height: auto;
    max-width: 100% !important;
    max-height: 100% !important;
    overflow: hidden;
}
/* image studio */
.image-studio {
    padding-top: 0px !important;
    position: relative;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}
.image-studio .img-gallery {
    overflow: hidden;
    max-height: 100% !important;
}
.owl-carousel-stduio {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.owl-carousel-stduio .owl-dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.owl-carousel-stduio .owl-dot {
    height: 5px;
    width: 20px;
    margin: 0 5px;
    background-color: var(--abu);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.owl-carousel-stduio .owl-dot span {
    display: none !important;
}
.owl-carousel-stduio .owl-dot .active span {
    display: none !important;
}

.owl-carousel-stduio .owl-dot.active {
    background-color: #555;
}

.owl-carousel-stduio .item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.studio {
    background: url("../img/studio-image-6.jpg");
    width: 100%;
    height: 800px;
    position: relative;
}

.image-acc {
    position: absolute;
    top: 0;
    right: 0px;
    width: 395.2px;
    height: 70px;
    opacity: 0.76;
    text-align: right;
    clip-path: inset(0 20px 0 0);
}

.image-acc img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
}
.image-acc .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    padding: 20px; /* Adjust the padding as needed */
    color: var(--black);
}
.image-preweding {
    border-radius: 12px !important;
    width: 400px !important;
}
.pricing-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0.4rem 0.5rem 0.4rem;
    background-color: var(--white);
    margin: 0 0.2rem;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: 0.2s all linear;
    margin-bottom: 2rem;
    border-radius: 0 0 0.5rem 0.5rem;
}

.pricing-item li {
    list-style: none;
}

.pricing {
    font-size: 1.5rem;
    margin: 1rem 0;
    color: skyblue;
    font-weight: bold;
}

.pricing-kit {
    font-size: 1.3rem;
    background-color: skyblue;
    padding: 0.7rem 1.5rem;
    border-radius: 0 0 2rem 2rem;
}

.pricing-item:hover .pricing-kit {
    box-shadow: 0 0 0 50rem skyblue;
}

.pricing-item:hover .order-btn {
    background-color: skyblue;
    color: white;
    font-weight: bold;
    border-color: white;
}

.pricing-item:hover .pricing {
    color: var(--black);
    transition: 0.4s linear;
}

.offers li {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.order-btn {
    border: none;
    border: 2px solid skyblue;
    background-color: transparent;
    color: skyblue;
    cursor: pointer;
    margin-top: 2rem;
    padding: 0.7rem 1rem;
    border-radius: 2rem;
    font-weight: bold;
}

.order-btn:hover {
    background-color: skyblue;
    color: white;
    font-weight: bold;
    border-color: white;
}
.offers li::before {
    content: "\e013";
    color: #7db701;
    margin-right: 5px;
    font-size: 15px;
    line-height: 20px;
}
.hero-wedding {
    background-color: rgb(33, 33, 33);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.hero-wedding .content {
    width: 100%;
    max-width: 600px;
    border-width: 0px;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
}

/* kin */
.form-price h2 {
    font-size: 30px;
    color: var(--purple);
}
.form-price p {
    font-size: 15px;
    color: #424040;
}

label {
    color: rgba(0, 0, 0, 0.55);
}
.btn-purple {
    /* color: #fff;
    background-color: var(--purple);
    border-color: var(--purple); */
    font-weight: 400;
    color: var(--white) !important;
    background-color: var(--black);
    border-color: var(--black);
}

/* pl */
.form-pricelist {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}
.form-pricelist .container-fluid {
    background: var(--abu);
    height: auto;
    min-height: 100px;
}
.is-rounded {
    border-radius: 8px;
}
/* review */
.card-review {
    background: var(--white) !important;
    padding: 20px 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.card-review .header {
    background: var(--white) !important;
    align-items: center;
    justify-content: flex-start;
    display: flex;
}
.card-review .header h4 {
    margin-left: 15px !important;
}

.card-review .header img {
    height: 60px;
    width: 60px;
    border-radius: 10px;
}
.card-review .content p {
    font-size: 13px !important;
}
/* faq */
.faq {
    flex: 0 0 0;
    min-height: 100vh;
    overflow-x: visible;
    overflow-y: visible;
    background: #31373d;
    color: var(--white);
}
.faq .hero {
    padding: 40px 50px;
}

.card-question-header:not([class*="bg-"]):not([class*="alpha-"]) {
    background-color: transparent;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    border-bottom-width: 0;
}

.card-question-header .card-question-title {
    margin-bottom: 0;
}
.card-question-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03) !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.card-question {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.1875rem;
}
.card-question-body p {
    color: var(--black);
    font-size: 14px;
    padding: 0.5rem 1rem;
}
/* contact us */
.maps {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}
.map {
    width: 100%;
    height: 100vh;
    border: 0;
}
.contact-us {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
}

.image-contact {
    height: auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 75%;
}
.about-us .content p {
    font-weight: normal;
    font-size: 14px;
}
.paragraph-about-us {
    line-height: 1.9;
    margin-bottom: 5px;
}
/* gallery */
.gallery {
    height: 100%;
    overflow: hidden;
}

.gallery img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
/* form-booking */
.form-booking .contact-us img {
    width: 250px;
}
.form-booking .content {
    padding: auto;
}
.form-booking .content a {
    color: var(--info);
    line-height: 2px;
}
.form-booking .form {
    background: var(--white);
    padding: 10px 20px;
    border-radius: 8px;
}
.span {
    font-weight: 600;
    font-size: 12px;
}
.btn-normal {
    border: 0.8px solid var(--black);
    color: var(--black);
    padding: 4px 10px !important;
    border-radius: 4px;
    font-size: 14px !important;
    font-weight: 400;
}
.img-category {
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img-category img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}
.logo-sm {
    background-image: url("../img/logo.png");
    height: 45px;
}
@media only screen and (max-width: 767px) {
    .owl-carousel .owl-item img {
        height: 600px;
    }
    .hide-phone-mobile {
        display: none;
    }

    .logo-sm {
        background-image: url("../img/logo_v.png");
        height: 40px;
    }
}
/* products */
.product-content {
    border: 1px solid hsl(0 0% calc(93% - 3%));
    transition: all 0.3s;
    margin-bottom: 20px;
    margin-top: 12px;
    background: #fff;
    padding: 4px;
}

.product-content .carousel-control.left {
    margin-left: 0;
}

.product-content .product-image {
    background-color: #fff;
    display: block;
    min-height: 238px;
    overflow: hidden;
    position: relative;
}

.product-content .product-deatil {
    border-bottom: 1px solid #dfe5e9;
    padding-bottom: 17px;
    padding-left: 16px;
    padding-top: 16px;
    position: relative;
    background: #fff;
}

.product-content .product-deatil h5 a {
    color: #2f383d;
    font-size: 15px;
    line-height: 19px;
    text-decoration: none;
    padding-left: 0;
    margin-left: 0;
}

.product-content .product-deatil h5 a span {
    color: #9aa7af;
    display: block;
    font-size: 13px;
}

.product-content .product-deatil span.tag1 {
    border-radius: 50%;
    color: #fff;
    font-size: 15px;
    height: 50px;
    padding: 13px 0;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 50px;
}

.product-content .product-deatil span.sale {
    background-color: #21c2f8;
}

.product-content .product-deatil span.hot {
    background-color: #fa9442;
}

.product-content .description {
    font-size: 12.5px;
    line-height: 20px;
    padding: 10px 14px 16px 19px;
    background: #fff;
}

.product-content .product-info {
    padding: 11px 19px 10px 20px;
}

.product-content .product-info a.add-to-cart {
    color: #2f383d;
    font-size: 13px;
    padding-left: 16px;
}

.product-content name.a {
    padding: 5px 10px;
    margin-left: 16px;
}

.product-info.smart-form .btn {
    padding: 6px 12px;
    margin-left: 12px;
    margin-top: -10px;
}

.product-entry .product-deatil {
    border-bottom: 1px solid #dfe5e9;
    padding-bottom: 17px;
    padding-left: 16px;
    padding-top: 16px;
    position: relative;
}

.product-entry .product-deatil h5 a {
    color: #2f383d;
    font-size: 15px;
    line-height: 19px;
    text-decoration: none;
}

.product-entry .product-deatil h5 a span {
    color: #9aa7af;
    display: block;
    font-size: 13px;
}

.load-more-btn {
    background-color: #21c2f8;
    border-bottom: 2px solid #037ca5;
    border-radius: 2px;
    border-top: 2px solid #0cf;
    margin-top: 20px;
    padding: 9px 0;
    width: 100%;
}

.price-container .discount {
    color: rgb(244, 81, 30);
    text-decoration: line-through;
    font-size: 16px;
}

.price-container .price {
    color: var(--black);
    font-family: Lato, sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.product-info.smart-form .rating label {
    margin-top: 0;
}

.product-wrap .product-image span.tag2 {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    padding: 10px 0;
    color: #fff;
    font-size: 11px;
    text-align: center;
}

.product-wrap .product-image span.sale {
    background-color: #57889c;
}

.product-wrap .product-image span.hot {
    background-color: #a90329;
}

.shop-btn {
    position: relative;
}

.shop-btn > span {
    background: #a90329;
    display: inline-block;
    font-size: 10px;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
        inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    font-weight: 700;
    border-radius: 50%;
    padding: 2px 4px 3px !important;
    text-align: center;
    line-height: normal;
    width: 19px;
    top: -7px;
    left: -7px;
}

.description-tabs {
    padding: 30px 0 5px !important;
}

.description-tabs .tab-content {
    padding: 10px 0;
}

.product-deatil {
    padding: 30px 30px 50px;
}

.product-deatil hr + .description-tabs {
    padding: 0 0 5px !important;
}

.product-deatil .carousel-control.left,
.product-deatil .carousel-control.right {
    background: none !important;
}

.product-deatil .glyphicon {
    color: #3276b1;
}

.product-deatil .product-image {
    border-right: 0px solid #fff !important;
}

.product-deatil .name {
    margin-top: 0;
    margin-bottom: 0;
}

.product-deatil .name small {
    display: block;
}

.product-deatil .name a {
    margin-left: 0;
}

.product-deatil .price-container {
    font-size: 24px;
    margin: 0;
    font-weight: 300;
}

.product-deatil .price-container small {
    font-size: 12px;
}

.product-deatil .fa-2x {
    font-size: 16px !important;
}

.product-deatil .fa-2x > h5 {
    font-size: 12px;
    margin: 0;
}

.product-deatil .fa-2x + a,
.product-deatil .fa-2x + a + a {
    font-size: 13px;
}

.product-deatil .certified {
    margin-top: 10px;
}

.product-deatil .certified ul {
    padding-left: 0;
}

.product-deatil .certified ul li:not(first-child) {
    margin-left: -3px;
}

.product-deatil .certified ul li {
    display: inline-block;
    background-color: #f9f9f9;
    padding: 13px 19px;
}

.product-deatil .certified ul li:first-child {
    border-right: none;
}

.product-deatil .certified ul li a {
    text-align: left;
    font-size: 12px;
    color: #6d7a83;
    line-height: 16px;
    text-decoration: none;
}

.product-deatil .certified ul li a span {
    display: block;
    color: #21c2f8;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
}

.product-deatil .message-text {
    width: calc(100% - 70px);
}

@media only screen and (min-width: 1024px) {
    .product-content div[class*="col-md-4"] {
        padding-right: 0;
    }

    .product-content div[class*="col-md-8"] {
        padding: 0 13px 0 0;
    }

    .product-wrap div[class*="col-md-5"] {
        padding-right: 0;
    }

    .product-wrap div[class*="col-md-7"] {
        padding: 0 13px 0 0;
    }

    .product-content .product-image {
        border-right: 1px solid #dfe5e9;
    }

    .product-content .product-info {
        position: relative;
    }
}

.product-content {
    border: 1px solid hsl(0 0% calc(93% - 3%));
    transition: all 0.3s;
    margin-bottom: 20px;
    margin-top: 12px;
    background: #fff;
    padding: 4px;
}

.product-content .carousel-control.left {
    margin-left: 0;
}

.product-content .product-image {
    background-color: #fff;
    display: block;
    min-height: 238px;
    overflow: hidden;
    position: relative;
}

.product-content .product-deatil {
    border-bottom: 1px solid #dfe5e9;
    padding-bottom: 17px;
    padding-left: 16px;
    padding-top: 16px;
    position: relative;
    background: #fff;
}

.product-content .product-deatil h5 a {
    color: #2f383d;
    font-size: 15px;
    line-height: 19px;
    text-decoration: none;
    padding-left: 0;
    margin-left: 0;
}

.product-content .product-deatil h5 a span {
    color: #9aa7af;
    display: block;
    font-size: 13px;
}

.product-content .product-deatil span.tag1 {
    border-radius: 50%;
    color: #fff;
    font-size: 15px;
    height: 50px;
    padding: 13px 0;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 50px;
}

.product-content .product-deatil span.sale {
    background-color: #21c2f8;
}

.product-content .product-deatil span.hot {
    background-color: #fa9442;
}

.product-content .description {
    font-size: 12.5px;
    line-height: 20px;
    padding: 10px 14px 16px 19px;
    background: #fff;
}

.product-content .product-info {
    padding: 11px 19px 10px 20px;
}

.product-content .product-info a.add-to-cart {
    color: #2f383d;
    font-size: 13px;
    padding-left: 16px;
}

.product-content name.a {
    padding: 5px 10px;
    margin-left: 16px;
}

.product-info.smart-form .btn {
    padding: 6px 12px;
    margin-left: 12px;
    margin-top: -10px;
}

.product-entry .product-deatil {
    border-bottom: 1px solid #dfe5e9;
    padding-bottom: 17px;
    padding-left: 16px;
    padding-top: 16px;
    position: relative;
}

.product-entry .product-deatil h5 a {
    color: #2f383d;
    font-size: 15px;
    line-height: 19px;
    text-decoration: none;
}

.product-entry .product-deatil h5 a span {
    color: #9aa7af;
    display: block;
    font-size: 13px;
}

.load-more-btn {
    background-color: #21c2f8;
    border-bottom: 2px solid #037ca5;
    border-radius: 2px;
    border-top: 2px solid #0cf;
    margin-top: 20px;
    padding: 9px 0;
    width: 100%;
}

.price-container .discount {
    color: rgb(244, 81, 30);
    text-decoration: line-through;
    font-size: 16px;
}

.price-container .price {
    color: var(--black);
    font-family: Lato, sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.product-info.smart-form .rating label {
    margin-top: 0;
}

.product-wrap .product-image span.tag2 {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    padding: 10px 0;
    color: #fff;
    font-size: 11px;
    text-align: center;
}

.product-wrap .product-image span.sale {
    background-color: #57889c;
}

.product-wrap .product-image span.hot {
    background-color: #a90329;
}

.shop-btn {
    position: relative;
}

.shop-btn > span {
    background: #a90329;
    display: inline-block;
    font-size: 10px;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
        inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    font-weight: 700;
    border-radius: 50%;
    padding: 2px 4px 3px !important;
    text-align: center;
    line-height: normal;
    width: 19px;
    top: -7px;
    left: -7px;
}

.description-tabs {
    padding: 30px 0 5px !important;
}

.description-tabs .tab-content {
    padding: 10px 0;
}

.product-deatil {
    padding: 30px 30px 50px;
}

.product-deatil hr + .description-tabs {
    padding: 0 0 5px !important;
}

.product-deatil .carousel-control.left,
.product-deatil .carousel-control.right {
    background: none !important;
}

.product-deatil .glyphicon {
    color: #3276b1;
}

.product-deatil .product-image {
    border-right: 0px solid #fff !important;
}

.product-deatil .name {
    margin-top: 0;
    margin-bottom: 0;
}

.product-deatil .name small {
    display: block;
}

.product-deatil .name a {
    margin-left: 0;
}

.product-deatil .price-container {
    font-size: 24px;
    margin: 0;
    font-weight: 300;
}

.product-deatil .price-container small {
    font-size: 12px;
}

.product-deatil .fa-2x {
    font-size: 16px !important;
}

.product-deatil .fa-2x > h5 {
    font-size: 12px;
    margin: 0;
}

.product-deatil .fa-2x + a,
.product-deatil .fa-2x + a + a {
    font-size: 13px;
}

.product-deatil .certified {
    margin-top: 10px;
}

.product-deatil .certified ul {
    padding-left: 0;
}

.product-deatil .certified ul li:not(first-child) {
    margin-left: -3px;
}

.product-deatil .certified ul li {
    display: inline-block;
    background-color: #f9f9f9;
    padding: 13px 19px;
}

.product-deatil .certified ul li:first-child {
    border-right: none;
}

.product-deatil .certified ul li a {
    text-align: left;
    font-size: 12px;
    color: #6d7a83;
    line-height: 16px;
    text-decoration: none;
}

.product-deatil .certified ul li a span {
    display: block;
    color: #21c2f8;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
}

.product-deatil .message-text {
    width: calc(100% - 70px);
}

@media only screen and (min-width: 1024px) {
    .product-content div[class*="col-md-4"] {
        padding-right: 0;
    }

    .product-content div[class*="col-md-8"] {
        padding: 0 13px 0 0;
    }

    .product-wrap div[class*="col-md-5"] {
        padding-right: 0;
    }

    .product-wrap div[class*="col-md-7"] {
        padding: 0 13px 0 0;
    }

    .product-content .product-image {
        border-right: 1px solid #dfe5e9;
    }

    .product-content .product-info {
        position: relative;
    }
}
.stars label {
    color: #ffd700 !important;
}

/* form review */
.form {
    background: var(--white);
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid hsl(0 0% calc(93% - 3%));
    transition: all 0.3s;
}

.rating-review {
    display: inline-block;
    direction: rtl;
}

.rating-review input {
    display: none;
}

.rating-review label {
    cursor: pointer;
    color: #ccc;
}

.rating-review label i {
    font-size: 24px;
}

.rating-review input:checked ~ label {
    color: #f8d71e;
}
